.logo{
	max-width: 350px;
}

//Section

#followus{
	max-width: 70%;
	background-color: rgba(192, 200, 189, 0.9);
}

#followus-bkg{
	background-image: url(/img/background.jpg);
	height: 400px;
}

#banner{
	background-image: url(/img/banner.jpg);
	height: 100px;
}